#{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;

}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.logo{
    width: 90px;
    
}
.list-item{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.Links{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.Links:hover{
    text-decoration:underline;
    color: red;
}
.homecontent{
    margin: 8% 0px 0px 8%;
}
#User-name{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 300px;
    font-family: "Playwrite NZ Basic Guides", cursive;
}
#name{
        font-family: "Playwrite NZ Basic Guides", cursive;
color: red;
}
#detailsUser{
    line-height: 2;
    margin-top: 70px;
}
#dowloard{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    display: inline-block;
    border-radius: 9px;
    margin-top: 30px;
}
.home-img{
    width: 35%;
    height: 60%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group1{
position: absolute;
    height: 100%;
    bottom: 0px;
    left: 30%;
    transform: translate(-50%);
    transition: bottom 2s, left 1s;
}
.home-img:hover #shapes{
    bottom: 70px;
}
.home-img:hover #lady{
    bottom: 30%;
}
#about{
    margin: 15% 8% 0px 8%;
}

.sectionHead{
    text-align: center;
}

.mainHead{
    font-size: 30px;
}

.subHead{
    color: green;
    font-size: 20px;
}

.aboutBody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.img1{
    width: 80%;
}
.aboutContent{
    font-size: 20px;
    text-align: justify;
}
.informations{
    margin-top: 1.3rem;
}
.infoBox{
    margin-bottom: 10px;
}
.infoBox span{
    margin-left: 1rem;
}
#skill{
    margin: 10% 8% 0px 8%;
}
.skillContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
}

.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}

.barHead,.barPercent{
    font-weight: 500;
    font-size: 1.3rem;
}

.baseBar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}

.portraitBar{
    background-color: rgb(105, 228, 105);
    width: 90%;
}

.landscapeBar{
    background-color: rgb(90, 224, 90);
    width: 98%;
}
.editBar{
    background-color: rgb(119, 234, 119);
    width: 85%;
}
.wildBar{
    background-color: rgb(106, 241, 106);
    width: 70%;
}
.myskill{
    width: 80%;
}
#contact{
 margin: 13% 8% 8px 8%;
}
.iconscollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icons{
width: 50px;
height: 50px;
border-radius: 50%;
/* border: solid; */
display: flex;
justify-content: center;
align-items: center;
float: right;
}
.brands{
color: black;
font-size: 1.7rem;
}
.icons:hover{
    background-image: linear-gradient(to bottom right,green,blue,violet);

}
.icons:hover .brands{
    color: white;
    /* Animation */
    animation: swing 3s;
}
@keyframes swing{
    0%{
        transform: rotate(30deg);
    }
20%{
        transform: rotate(-30deg);

}
40%{
        transform: rotate(30deg);

}
60%{
        transform: rotate(-30deg);

}
80%{
        transform: rotate(-30deg);

}
}
#copyright{
    text-align: center;
font-weight: 600;
}
.uparrow{

}
html{
    float: right;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background-color: red;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 20px;
}
